body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;}
@media (max-width: 980px){
    .container {
    max-width: 400px;
    margin: 5%
    }
    label{
      margin: 0px;
      padding: 0px;
    }
}
.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

form {
    background-color: #0099ffbb;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form textarea,input {
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}
label{
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-family: cursive;
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#postsContainer {
    background-color: #00a2ff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.message {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #e96a6ade;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.timestamp {
    font-weight:lighter;
    color: #4e4e4ed2;
}
h2{
    color: rgb(255, 166, 0);
}